.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
  }
  
  .grid-item {
    border: 1px solid black;
    padding: 10px;
    color: white;
    background-color: rgb(66, 66, 75);
    text-align: center;
    border-radius: 30px;
  }
  
  .grid-item img {
    padding-bottom: 10px;
  }
  
  .grid-item h3 {
    padding-top: 10px;
    font-size: larger;
    
  }

  .grid-item button {
background-color: black;
color: white;
border: none;
padding: 5px 10px;
border-radius: 5px;
}

.grid-item button:hover {
background-color: white;
color: black;
}