@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.footer-pie-pagina {
    width: 100%;
    background-color: #0a141d;
}

.footer-pie-pagina .footer-grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.footer-pie-pagina .footer-grupo-1 .footer-box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-pie-pagina .footer-grupo-1 .footer-box figure img {
    width: 250px;
}

.footer-pie-pagina .footer-grupo-1 .footer-box h2 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.footer-pie-pagina .footer-grupo-1 .footer-box p {
    color: #efefef;
    margin-bottom: 10px;
}

.footer-pie-pagina .footer-grupo-1 .footer-red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}

.footer-pie-pagina .footer-grupo-1 .footer-red-social a:hover {
    color: #17b3db;
}

.footer-pie-pagina .footer-grupo-1 .footer-politicas-legales a {
    display: grid;
    border-radius: 20px;
    text-decoration: none;
    width: fit-content;
    height: fit-content;
    line-height: normal;
    color: #fff;
    padding: 5px;
    margin: 5px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}

.footer-pie-pagina .footer-grupo-1 .footer-politicas-legales a:hover {
    color: #17b3db;
}

.footer-pie-pagina .footer-grupo-2 {
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.footer-pie-pagina .footer-grupo-2 small {
    font-size: 15px;
}

@media screen and (max-width: 800px) {
    .footer-pie-pagina .footer-grupo-1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}
