header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin: -8px;
  font-family: 'Raleway', sans-serif;
  background-color: #0a141d;
  border: 0cm;
}

.header-logo img {
  height: 75px;
}

nav ul.header-menu {
  list-style: none;
  display: flex;
}

nav ul.header-menu li {
  margin-right: 20px;
}

nav ul.header-menu li a {
  background-color: #131c24;
  text-decoration: none;
  color: #87dcf2;
  position: relative;
  padding: 5px 10px;
  transition: transform 0.3s ease, background-color 0.3s ease; 
  border-radius: 20px;
}

nav ul.header-menu li a:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%) scale(1);
  height: 100%;
  width: 100%;
  border-radius: 20px;
  background-color: transparent;
  transition: background-color 0.3s ease, transform 0.3s ease;
  z-index: -1;
}

nav ul.header-menu li a:hover {
  background-color: #87dcf2;
  transform: scale(1.3);
  color: #131c24;
}

nav ul.header-menu li a:hover:before {
  color: #131c24;
  background-color: #87dcf2;
  transform: translateY(-50%) scale(1.3);
}
  
.header-mobile-menu {
  display: none;
}

.header-menu-toggle {
  display: block;
  cursor: pointer;
  padding: 10px;
}

.header-menu-toggle span {
  display: block;
  height: 2px;
  background-color: #333;
  margin-bottom: 4px;
}

.header-cta-buttons a {
  margin-left: 10px;
  text-decoration: none;
  padding: 8px 16px;
  background-color: #17b3db;
  color: #fff;
}

header .header-cta-buttons a:hover {
  background-color: #87dcf2;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.asientos {
  margin-left: 20px;
}

.asientos span {
  font-size: 14px;
  color: #333;
}

@media (max-width: 768px) {
  .header-logo img {
    height: 50px;
    width: 50px;
  }

  nav {
    display: none;
  }

  .header-mobile-menu {
    display: block;
  }

  .header-menu-toggle {
    position: relative;
    display: block;
    cursor: pointer;
    padding: 10px;
  }

  .header-menu-toggle span {
    display: block;
    height: 2px;
    background-color: #333;
    margin-bottom: 4px;
    transition: all 0.2s ease;
  }

  .header-menu-toggle input {
    display: none;
  }

  .header-menu-toggle input:checked ~ span:nth-child(2) {
    transform: rotate(45deg);
  }

  .header-menu-toggle input:checked ~ span:nth-child(3) {
    opacity: 0;
  }

  .header-menu-toggle input:checked ~ span:nth-child(4) {
    transform: rotate(-45deg);
  }

  .header-menu-toggle input:checked ~ ul.header-menu {
    display: block;
  }

  .header-menu-toggle ul.header-menu {
    display: none;
  }

  .header-menu-toggle ul.header-menu li {
    margin-bottom: 10px;
  }

  .header-menu-toggle ul.header-menu li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
  }

  .header-cta-buttons {
    display: none;
  }
}
